
/* General Style for all Devices */

body {
    background-color: #0c122c;
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fffffe;
    font-family: 'Raleway', sans-serif;
}

#content {
    display: grid;
    justify-content: center;
    
}

.sections {
    display: grid;
    width: 500px;
    padding: 15%;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #1d2c67;
    border-radius: 10px;
    colog: #fffffe;
}

#header {
    border-top-right-radius: 150px 150px;
    margin-top: 20%;
    margin-bottom: 3%;
    justify-content: left;
}

#menu {
    margin-top: 15%;
}
#menu img {
    background-color: #0c1231;
    padding: 10px;
    height: 20px;
    width: 25px;
    border-radius: 10px;
}

#bottombox {
    display: grid;
    width: 500px;
    padding: 15%;
    margin-top: -25%;
    margin-bottom: 10%;
    align-content: center;
    justify-content: center;
}

.remainderbox {
    justify-content: center;
}

.remainder {
    justify-content: center;
    padding: 1%;
    width: 200px;
    z-index: 99;
    background-color: #fffffe;
    color: #0c1231;
    border: solid 2px #0c1231;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
}

.number {
    font-size: 2.5em;
    font-weight: 700;
}

meter {
    width: 500px;
    height: 25px;
}

.styled meter {
    
}

 

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}