/* General Styles */

body {
    background-color: hsl(229, 57%, 11%);
    color: #fffff0;
    font-family: 'Raleway', sans-serif; 
}

#header {
    margin: 0;
    height: 201px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 80px 10px 10px;
}

#logo {
    margin: 15px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}

.imagebox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
}


#datasection {
    display: grid;
    grid-template-columns: 50px repeat(6, 1fr) 18px repeat(3, 1fr) 50px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-radius: 10px;
    background-color: hsl(228, 56%, 26%);
    text-align: left;
}

#datatext {
    grid-area: 2 / 2 / 3 / 12;
}

#markerstart {
    grid-area: 4 / 2 / 5 / 3;
    font-size: .75em;
}

#markerend {
    grid-area: 4 / 11 / 5 / 12;
    font-size: .75em;
}

#usagebar {
    height: 20px;
    border-radius: 10px;
    background-color: hsl(229, 57%, 11%);
    grid-area: 3 / 2 / 4 / 12;
}

#currentusage {
    height: 18px;
    grid-area: 3 / 2 / 4 / 9;
    margin-top: 1px;
    margin-left: 3px;
    border-radius: 10px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%))
}

#endmarker {
    grid-area: 3 / 8 / 4 / 9;
    height: 15px;
    width: 15px;
    margin-top: 2px;
    margin-left: 1px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}

#bottombox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fffff0;
    color: hsl(229, 57%, 11%);
}

#bottombox span {
    font-size: 1.5em;
}

.attribution { 
    align-self: flex-end;
    font-size: 11px; 
    text-align: center; 
}


.attribution a { 
    color: hsl(228, 45%, 44%); 
}